<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Client</title>

  <!-- Add style here -->
  <link rel="stylesheet" type="text/css" href="./app/styles/main.css" media="screen" />

</head>
<body ng-app="app" ng-controller="MainController as main">
  <div class="container center-text">
    <h1>{{title}} version: {{database.version}}</h1>
    <div ng-if="error" class="alert alert-danger">
      <strong>Error </strong>: {{notification.message}}
    </div>
    <div class="btn-group-vertical" ng-repeat="choice in database.choices">
      <button class="btn btn-default" type="submit" ng-click="sendAnswer(choice)">{{choice}}</button>
    </div>
  </div>

  <!-- Add scripts here -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="./app/app.js"></script>

  <script src="./app/scripts/controllers/main.js"></script>
</body>
</html>
